<h2>Hi <%= @current_user.email %>! </h2>
<div class='links-header'>
  <h2>Links!</h2>
</div>
<% if current_user %>
  <%= render partial: 'layouts/link_form' %>
<% end %>

<div class='links-list'>
  
</div>
<br>
<%= render partial: 'layouts/logout' %>