<h2>Hi <%= @current_user.email %>! </h2>
<div class='links-header'>
</div>
<% if current_user %>
  <%= render partial: 'layouts/link_form' %>
<% end %>

<% if @links.count >= 1 %>
  <h2>Links!</h2>
  <div class='search-box'>
    <input type="text" name="search" placeholder="Search..">
  </div>
  <div class='link-container'>
    <% @links.each do |link| %>
      <%= render partial: "layouts/link", locals: {link: link} %>
    <% end %>
  </div>
<% end %>
<br>
<%= render partial: 'layouts/logout' %>
