.container {
  width: 100%;
}
.link-container {
  display: flex;
  flex-wrap: wrap;
  // width: 100%;
}

.hot-container {
  width: 100%;
}

.top-container {
  width: 100%;
}

.top.col.link {
  width: 89%;
}

.col {
  flex-grow: 1;
}

.link {
  display: inline-block;
  background: lightyellow;
  border: .1em solid grey;
  padding: .2em;
  width: 29%;
  margin: 10px 0 0 10px;
  border-radius: 15px;
  text-align: center;
}

.true {
  opacity: .55;
  border: .2em solid grey;
}

.alert {
  position: fixed;
  top: 5px;
  left: 5px;
  margin: 10px 0 0 10px;
}


