<div class='container'>
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name %>">
      <%= sanitize(msg, tags: %w(a), attributes: %w(href rel data-method)) %>
    </div>
  <% end%>
</div>